$font-family-roboto: 'Roboto Condensed', sans-serif;
$font-family-mont: 'Montserrat', sans-serif;
$brand-primary: #24bbbc;
$dark-primary: #313b4b;
$grey: #e1e1e1;
$dark: #303a4a;
$blue: #316cbd;
$screen-xs-max: 767px;
$screen-sm-max: 992px;
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}
.no-gutter {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &.row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.img-fullresponsive {
  width: 100%;
  height: auto;
}

.logo {
  display: block;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  margin: 0 0 0 10px;
  max-width: 188px;
  img {
    max-width: 100%;
  }
  @media (max-width: $screen-sm-max) {
    height: 52px;
  }

}

body, html {
  color: $dark-primary;
  font-family: $font-family-roboto;
}

.header-nav-panel {
  padding-top: 5px;
  @media (max-width: $screen-sm-max) {
    padding-top: 5px;
  }
  .header-phone, .inline-block {
    display: inline-block;
  }
  .header-phone {
    color: $dark-primary;
    font: 600 16px/1.2 $font-family-roboto;
    padding: 0 22px 0 0;
    @media (max-width: $screen-sm-max) {
      padding: 0 50px 0 0;
    }
  }
  .header-flag{
    display: inline-block;
    margin: 0 30px;
    vertical-align: middle;
    @media (max-width: 1150px) {
      margin: 0;
    }
    @media (max-width: $screen-sm-max) {
     display: none;
    }
  }
}

.__table {
  display: table;
  width: 100%;
  height: 100%;
}

.__td {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

header {
  padding: 34px 0 11px 0;
  background: white;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  height: 120px;
  z-index: 10;
  @media (max-width: $screen-sm-max) {
    height: 90px;
  }
  nav {
    ul.menu {
      text-align: left;
      display: inline-block;
      padding: 0px;
      li {
        list-style: none;
        display: inline-block;
        margin: 0 28px 0 0;
        font-size: 16px;
        font-family: $font-family-roboto;
        @media (max-width: 1150px) {
          margin: 0 18px 0 0;
      }
        a {
          color: $dark-primary;
          font-weight: 400;
          &.active {
            font-weight: bold;
            position: relative;
            &:after {
              content: "";
              position: absolute;
              bottom: -10px;
              left: -5px;
              right: -5px;
              height: 4px;
              background: $brand-primary;
            }
          }
          &:hover {
            color: $brand-primary;
            text-decoration: none;
          }
        }
      }
    }
    .region-languages {
      float: right;
      margin-top: -3px;
      ul.language-switcher-locale-url {
        list-style-type: none;
        padding: 0px;
        li {
          display: inline-block;
          margin: 0 0 0 1px;
          text-transform: uppercase;
          a {
            color: #b4cdd2;
            padding: 2px 6px;
            display: block;
            border: 1px solid transparent;
            &.active {
              color: $brand-primary;
              border: 1px solid $brand-primary;
            }
          }
        }
      }
    }
  }

}
.padbtm
{
  padding: 0 0 30px 0;
}
.topslider-block {
  position: relative;
  @media (max-width: $screen-sm-max) {
    min-height: 40px;
  }
  .tp-arr-titleholder
  {
    display: none !important;
  }
  .tp-bullets
  {
    z-index: 40;
  }
  &-item {
    height: 803px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: $screen-xs-max) {
      height: 403px;
    }
  }
  .__item1 {
    background-image: url(../content/slide_bg.jpg);
    text-align: center;
  }
  &-top1 {
    color: white;
    font: 300 40px/1.2 $font-family-roboto;
    text-transform: uppercase;
    padding: 0 0 14px 0;

  }
  &-top2 {
    color: white;
    font: 600 54px/1.2 $font-family-mont;
    text-transform: uppercase;

  }
  &-top3 {
    padding-top: 22px;
  }
  &-roundlink {
    display: inline-block;
    font: 600 22px/1.2 $font-family-roboto;
    text-transform: uppercase;
    color: white !important;
    height: 58px;
    line-height: 58px;
    padding: 0 30px;
    border: 2px solid $brand-primary;
    border-radius: 29px;
    position: relative;
    @media (max-width: $screen-sm-max) {
      height: auto;
    }
    &:before, &:after {
      content: "";
      width: 170px;
      height: 1px;
      background: $brand-primary;
      position: absolute;
      top: 50%;
      left: -195px;
      @media (max-width: $screen-sm-max) {
        width: 60px;
        left: -70px;
      }
    }
    &:after {
      left: auto;
      right: -195px;
      @media (max-width: $screen-sm-max) {
        left: auto;
        right: -70px;
      }
    }

  }
}

a#simple-menu {
  position: fixed;
  top: 49px;
  right: 10px;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  background: $brand-primary;
  font-size: 0;
  z-index: 1010;
  -moz-transition: -ms-transform .3s ease-in;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  &:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    background: $brand-primary;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 30px;
    height: 3px;
    border-radius: 1px;
    background: $brand-primary;
  }
}

.tiny a#simple-menu {
  top: 39px;
}
.tiny{
  .scroll-down-link
  {
    opacity: 0;
    visibility: hidden;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
}
.sidr-open {
  a#simple-menu {
    background: transparent;
    &:before {
      transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      top: 7px;
      left: 0;
    }
    &:after {
      transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}

footer {
  background: $grey;
  padding: 30px 0 0 0;
  @media (max-width: $screen-xs-max) {
    padding: 20px 0 40px 0;
  }
  .block_title {
    color: #333333;
    font: 600 18px/1.2 $font-family-mont;
    text-transform: uppercase;
    padding: 32px 0 30px 0;
    border-bottom: 1px solid white;
  }
  .block_content {
    padding: 30px 0 15px 0;
    font-size: 16px;
    p {
      line-height: 1.2;
      margin-bottom: 20px;
    }
  }
}
.underfooter
{
  font: 300 16px/1.4 $font-family-roboto;
  border-bottom: 6px solid $grey;
  background: #cccccc;
  padding: 20px 20px;
  p{
    margin: 0 auto;
    &.copyright{
      max-width: 280px;
      border-bottom: 1px solid white;
      padding: 0 0 15px 0;
      margin-bottom: 15px;
    }
  }
}
input.text-input, input.form-text {
  box-sizing: border-box;
  width: 100%;
  background: white;
  border: none;
  padding: 12px 10px;
  font: 300 18px/1.2 $font-family-roboto;
  &:focus {
    outline: none;
  }
}

.form-submit {
  background: $brand-primary;
  color: white;
  font: 300 18px/1.2 $font-family-roboto;
  border: none;
  padding: 12px 5px;
  width: 100%;
}

.newsletter_form {
  margin: 34px 0 0 0;
}

ul.social_links {
  list-style-type: none;
  margin: 40px 0 0 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0 5px 0 0;
    a {
      display: block;
      width: 33px;
      height: 33px;
    }
    &.soc_1 {
      a {
        background: url(../images/socials_sprite.png) no-repeat 0 0;
      }
    }
    &.soc_2 {
      a {
        background: url(../images/socials_sprite.png) no-repeat -44px 0;
      }
    }
    &.soc_3 {
      a {
        background: url(../images/socials_sprite.png) no-repeat  -87px 0;
      }
    }
  }
}

.aboutus {
  background: $brand-primary;
  &-container-h1 {
    position: absolute;
    bottom: 50px;
    right: 40px;
    color: white;
    max-width: 600px;
    padding-left: 26px;
    @media (max-width: 520px) {
      position: static;
      color: $dark-primary;
    }
    h1{
      font: 600 46px/1.4 $font-family-mont;
      @media (max-width: 1280px) {
        font: 600 32px/1.4 $font-family-mont;
      }
      span{
        display: block;
      }
    }
  }
  &-content {
    padding: 63px 80px 63px 80px;
    color: $dark;
    @media (max-width: 1400px) {
      padding: 43px 30px 20px 46px;
    }
    @media (max-width: 1200px) {
      padding: 23px 20px 20px 26px;
    }
    @media (max-width: $screen-sm-max) {
      padding: 23px 20px 55px 26px;
    }
    h1 {
      position: relative;
      margin: 0 0 53px 0;
      color: white;
      @media (max-width: 1800px) {
        margin: 0 0 26px 0;
      }
      span {
        font: 300 46px/1.3 $font-family-mont;
        @media (max-width: 1800px) {
          font-size: 30px;
        }
        @media (max-width: 1400px) {
          font-size: 24px;
        }
      }
      strong {
        display: block;
        font: 600 38px/1.3 $font-family-mont;
        @media (max-width: 1800px) {
          font-size: 30px;
        }
        @media (max-width: 1400px) {
          font-size: 24px;
        }
      }
    }
    p {
      margin-bottom: 17px;
    }
  }
  &-btn {
    padding: 30px 0 0 0;
    @media (max-width: 1400px) {
      padding: 10px 0 0 0;
    }
  }
}

.btn {
  display: inline-block;
  height: 56px;
  font: 600 22px/50px $font-family-roboto;
  text-transform: uppercase;
  padding: 0 45px;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  &.btn-stroke {
    color: $dark;
    border: 2px solid $dark;
    border-radius: 28px;
    &:hover {
      color: white;
      background: $dark;
    }
    &.__small {
      text-transform: none;
      height: 36px;
      font: 600 16px/36px $font-family-roboto;
      padding: 0 15px;
      border-radius: 18px;
    }
  }
}
#hexagons .container{
  position: relative;
  z-index: 3;
  top: -211px;
  @media (max-width: $screen-sm-max) {
   top: 20px;
  }
}
.hexagons {
  background-image: url(../images/hexagon_bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding: 0 0 30px 0;
  position: relative;
  &-block {

    @media (max-width: $screen-sm-max) {
      margin-top: 20px;
    }
    @media (max-width: $screen-xs-max) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &-item {
    width: 502px;
    height: 439px;
    background: url(../images/hexagon_element2.png) no-repeat 0 0;
    padding: 4px 111px 60px 112px;
    position: relative;
    @media (max-width: 1200px) {
      padding: 20px 62px 40px 70px;
    }

    &-front{
      height: 100%;
      text-align: center;
    }
    h2 {
      font: 300 48px/1.2 $font-family-mont;
      padding: 0 0 40px 0;
      margin: 0px 0 35px 0;
      position: relative;
      color: white;
      display: inline-block;
      @media (max-width: 1200px) {
        font: 300 30px/1.2 $font-family-mont;
        padding: 0 0 33px 0;
        margin: 0 0 26px 0;
      }
      @media (max-width: $screen-xs-max) {
       font-size: 26px;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -37px;
        width: 74px;
        height: 10px;
        background: $brand-primary;
      }
    }
    p {
      font: 300 24px/1.3 $font-family-roboto;
      color: $brand-primary;
      @media (max-width: 1200px) {
        font-size: 16px;
      }
      strong {
        color: white;
      }
    }
    @media (max-width: 1200px) {
      width: 364px;
      height: 316px;
      background-size: 372px;
    }
    @media (max-width: $screen-xs-max) {
      width: 300px;
      height: 248px;
      background-size: 302px;
    }
    &:hover {
      background: url(../images/hexagon_element2.png) no-repeat 0 -439px;
      @media (max-width: 1200px) {
        background-position: 0 -315px;
        background-size: 370px;
      }
      @media (max-width: $screen-xs-max) {
        background-position: 0 -263px;
        background-size: 302px;
      }
      .hexagons-item-front {
        opacity: 0;
        visibility: hidden;

      }
      .hexagons-item-back {
        opacity: 1;
        visibility: visible;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
      }
    }

    &-back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 34px 122px 47px 122px;
      opacity: 0;
      visibility: hidden;
      text-transform: uppercase;
      @media (max-width: 1200px) {
        padding: 34px 70px 40px 70px;
      }
      @media (max-width: $screen-xs-max) {
        padding: 16px 70px 23px 70px;
      }
      a:hover{
        color: inherit;
      }
      ol{
        counter-reset: item;
        list-style-type: none;
        padding: 0;
        li{
          padding: 0 0 20px 0;
          position: relative;
          margin: 0 0 20px 30px;
          font: 600 28px/1.2 $font-family-roboto;
          @media (max-width: 1200px) {
            font: 600 20px/1.2 $font-family-roboto;
          }
          @media (max-width: $screen-xs-max) {
            padding: 0 0 9px 0;
            font-size: 16px;
            margin: 0 0 9px 30px;
          }
          strong{
            color: white;
          }
          &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: -30px;
            width: 100px;
            height: 1px;
            background: white;

          }
          &:before {
            content: counter(item) ". ";
            counter-increment: item;
            position: absolute;
            left: -30px;
            top: 0;
          }
        }
      }
      p {
        color: #1d2127;
        padding: 0 0 15px 0;
        position: relative;
        margin: 0 0 15px 0;
        @media (max-width: 1200px) {
          padding: 0 0 6px 0;
          font-size: 22px;
          margin: 0 0 5px 0;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 40px;
          height: 1px;
          background: white;
        }
        strong {
          color: white;
        }
        span {
          color: white;
          font: 300 22px/1.2 $font-family-roboto;
          @media (max-width: 1200px) {
            font: 300 16px/1.2 $font-family-roboto;
          }
        }
      }
    }
    &.__item1 {
      margin: 0 0 0 120px;
      padding: 4px 50px 60px 50px;
      @media (max-width: 1200px) {
        margin: 0 0 0 123px;
        padding: 20px 40px 40px 40px;
      }
      @media (max-width: $screen-sm-max) {
        margin: 0;
      }
      @media (max-width: $screen-xs-max) {
        margin: 15px auto;
      }
    }

    &.__item2 {
      margin: -207px 0 0 519px;
      padding: 4px 50px 60px 50px;
      &:before {
        content: "";
        position: absolute;
        top: -111px;
        right: 26px;
        background: url(../images/top_arr.png) no-repeat;
        width: 112px;
        height: 135px;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        @media (max-width: $screen-sm-max) {
          display: none;
        }
      }
      @media (max-width: 1200px) {
        margin: -156px 0 0 400px;
        padding: 20px 40px 40px 40px;
      }
      @media (max-width: $screen-sm-max) {
        margin: -156px 0 0 276px;
      }
      @media (max-width: $screen-xs-max) {
        margin: 15px auto;
      }
    }
    &.__item3 {
      padding: 4px 57px 60px 57px;
      margin: -210px 0 0 120px;
      @media (max-width: 1200px) {
        margin: -156px 0 0 123px;
        padding: 20px 40px 40px 40px;
      }
      @media (max-width: $screen-sm-max) {
        margin: -156px 0 0 0;
      }
      @media (max-width: $screen-xs-max) {
        margin: 15px auto;
      }
      &:after {
        content: "";
        position: absolute;
        bottom: -94px;
        left: 33px;
        background: url(../images/bottom_arr.png) no-repeat;
        width: 135px;
        height: 112px;
        @media (max-width: 1200px) {
          bottom: -81px;
          left: -3px;
        }
        @media (max-width: $screen-xs-max) {
          display: none;
        }
      }
    }
    &.__item4 {
      margin: -210px 0 0 517px;
      padding: 4px 50px 60px 50px;
      @media (max-width: 1200px) {
        margin: -156px 0 0 400px;
        padding: 20px 40px 40px 40px;
      }
      @media (max-width: $screen-sm-max) {
        margin: -156px 0 0 276px;
      }
      @media (max-width: $screen-xs-max) {
        margin: 15px auto;
      }
    }
  }
  .arrow-right {
    display: block;
    width: 100%;
    background: url(../images/white_arrow.png) no-repeat center;
    height: 16px;
    position: absolute;
    left: 0;
    bottom: 66px;
    @media (max-width: $screen-xs-max) {
      bottom: 16px;
    }
  }
}

.tiny {
  header {
    height: 80px;
    padding: 8px 0 11px 0;
    .logo {
      margin: 18px 0 0 10px;
      img {
        max-width: 120px;
      }
    }
    .header-nav-panel {
      padding-top: 16px;
    }
  }
}

.scroll-down-link {
  position: absolute;
  background: rgba(0, 0, 0, .3) url(../images/hand.png) no-repeat center center;
  width: 40px;
  height: 40px;
  display: block;
  bottom: 40px;
  left: 50%;
  margin: 0 0 0 -20px;
  border-radius: 50%;
  &:before {
    content: "";
    border: 1px solid rgba(255, 255, 255, .5);
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -22px;
    border-radius: 50%;
  }
}

.toptitle {
  height: 600px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  @media (max-width: $screen-sm-max) {
    height: 340px;
    background-size: cover;
    background-attachment: inherit;
  }
  @media (max-width: $screen-xs-max) {
    height: 216px;
    background-size: cover;
    background-attachment: inherit;
  }
  h1 {
    color: white;
    font: 600 48px/1.2 $font-family-mont;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 116px;
    left: 0;
    @media (max-width: $screen-sm-max) {
      font: 600 34px/1.2 $font-family-mont;
    }
    @media (max-width: $screen-xs-max) {
      font: 600 20px/1.2 $font-family-mont;
      bottom: 0;
    }
  }
  &.__contactus {
    background: url(../content/contact_bg.jpg) no-repeat center center;
    background-size: cover;

    @media (min-width: 1280px) {
      background-attachment: fixed;
      background-size: auto;
    }
  }
  &.__aboutus {
    background: url(../content/about_bg.jpg) no-repeat center center;
    background-size: cover;
    @media (min-width: 1280px) {
      background-attachment: fixed;
      background-size: auto;
    }

  }
}

.contactus-block {
  padding: 75px 0 10px 0;
  @media (max-width: $screen-xs-max) {
    padding: 15px 0 10px 0;
  }
  &-row {
    margin: 0 0 65px 0;
    font: 400 20px/1.4 $font-family-roboto;
    position: relative;
    &.__bright:before {
      content: "";
      bottom: 0;
      width: 56%;
      height: 1px;
      background-color: #e5e5e5;
      position: absolute;
      right: 0;
    }
    &.__bleft:before {
      content: "";
      bottom: 0;
      width: 56%;
      height: 1px;
      background-color: #e5e5e5;
      position: absolute;
      left: 0;
    }
  }
  &-text {

    padding-top: 20px;
    padding-bottom: 20px;
    .btn-stroke {
      margin-top: 20px;
    }
  }
}

.mrg-top {
  margin-top: 20px;
}

._ohidden {
  overflow: hidden;
}

.about-block {
  &-text {
    padding: 65px 0 105px 0;
    background: $brand-primary;
    position: relative;
    z-index: 2;
    @media (max-width: $screen-xs-max) {
      margin-left: -15px;
      margin-right: -15px;
      padding: 20px 15px 50px 15px;
    }
    &:before {
      content: "";
      position: absolute;
      right: 0;
      width: 50vw;
      background: $brand-primary;
      top: 0;
      bottom: 0;
    }
    h2 {
      z-index: 2;
      position: relative;
      font: 600 32px/1.2 $font-family-mont;
      &:before {
        content: "";
        height: 10px;
        width: 67px;
        background: $dark-primary;
        bottom: -42px;
        left: 0;
        position: absolute;
      }
      &:after {
        content: "";
        height: 10px;
        width: 80px;
        background: url(../images/black_arrow_right.png) no-repeat right center;
        display: inline-block;
        margin: 0 0 0 20px;
        position: relative;
        top: 5px;
      }
    }
  }
  &-logo {
    padding: 88px 0;
    @media (max-width: $screen-xs-max) {
      padding: 38px 0;
    }
  }
  &-text2 {
    padding: 193px 0 20px 0;
    position: relative;
    @media (max-width: $screen-xs-max) {
      padding: 20px 0 20px 0;
    }
    p, ul {
      margin-bottom: 27px;
    }
    &:before {
      content: "";
      background: url(../images/about_arr.png) no-repeat;
      width: 137px;
      height: 114px;
      position: absolute;
      top: 30px;
      right: 0;
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
  &-people
  {
    background: $blue;
    color: white;
    position: relative;
    padding-top: 30px;
    .section-title
    {
      color: white;
      position: relative;
      margin: 0 0 30px 0;
      z-index: 2;
    }
    &:before{
      background: $blue;
      width: 100vw;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;

    }
    &:after{
      background: $blue;
      width: 100vw;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;

    }
    .container-fluid{
      position: relative;
      z-index: 3;
    }
    h4{
      font: 600 24px/1.2 $font-family-roboto;
      text-transform: uppercase;
      margin: 31px 0 10px 0;
    }

    h5{
      position: relative;
      padding: 0 0 23px 0;
      margin: 0 0 17px 0;
      font: 300 19px/1.2 $font-family-roboto;
      &:after{
        content: "";
        height: 6px;
        width: 39px;
        background: white;
        bottom: 0;
        left: 0;
        position: absolute;
      }
    }
    &-text{
      padding: 0 0 31px 0;
      font: 400 16px/1.2 $font-family-roboto;
      a{
        color: white;
        &:hover{
          text-decoration: underline;
        }
      }
      p{
        line-height: 1.4;
        @media (max-width: 1280px) {
          font-size: 12px;
        }
        @media (max-width: $screen-sm-max) {
          font-size: 14px;
        }
      }
    }
    &-img{
      position: relative;
      margin-top: 15px;
      max-width: 195px;
      @media (max-width: $screen-sm-max) {
        margin-top: 15px;
      }
    }
    &-wrapper
    {
      padding: 20px 0 0 0;
    }
  }
}
.section-title{
  font: 600 36px/1.2 $font-family-mont;
  text-align: center;
  color: $dark-primary;
}
.linked_link{
  display: inline-block;
  background: url(../images/in.png) no-repeat;
  width: 24px;
  height: 24px;
  vertical-align: top;
  margin-left: 10px;
}

.about-diagram
{
  padding: 50px 0 0px 0;
  &-row{
    margin: 0 0 50px 0;
    position: relative;
    &-item{
      font: 600 18px/1.2 $font-family-roboto;
      &.__secondary
      {
        .about-dia-i
        {
          padding-top: 15px;
        }
      }
      i{
        padding: 17px 10px;
        display: block;
        font-style: normal;
      }
      div{
        position: relative;
      }
      &.__grey
      {
        background: #ebebeb;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
        &.__active{
          background: $brand-primary;
        }
      }
      &.__blue
      {
        background: $blue;
        color: white;
        margin-bottom: 15px;
        cursor: pointer;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
        &:hover, &.__active{
          background: #505864;
        }
      }
      &.__primary
      {
        background: $brand-primary;
        max-width: 315px;
        margin: 0 auto;

        &:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin: 5px 0 0 -16px;
          height: 53px;
          background: url(../images/black_arrow2.png) no-repeat bottom center;
          width: 32px;
        }
        &.__active
        {
          i{
            border: 3px solid white;
          }
        }
        i{
          border: 3px solid transparent;
          &:hover{
            border: 3px solid white;
          }
        }

      }
      &.__black
      {
        background: #2e3846;
        color: white;
        max-width: 489px;
        margin: 0 auto;
        position: relative;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        -webkit-transition: all .3s ease-in;
        transition: all .3s ease-in;
        &:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin: 5px 0 0 -16px;
          height: 40px;
          background: url(../images/black_arrow2.png) no-repeat top center;
          width: 32px;
        }
        &.__active
        {
          i{
            border: 3px solid white;
          }
        }
        i{
          border: 3px solid transparent;
        }
     /*   &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 30%;
          margin: 5px 0 0 -16px;
          height: 40px;
          background: url(../images/black_arrow2.png) no-repeat bottom center;
          width: 32px;
        }*/
        &>div{
       /*   &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 70%;
            margin: 5px 0 0 -16px;
            height: 40px;
            background: url(../images/black_arrow2.png) no-repeat bottom center;
            width: 32px;
          }*/
          &:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 99.9%;
            margin: 5px 0 0 -16px;
            height: 156px;
            background: url(../images/black_arrow2.png) no-repeat bottom center;
            width: 32px;
          }
          &>div{
            &:before {
              content: "";
              position: absolute;
              top: 100%;
              left: .1%;
              margin: 5px 0 0 -16px;
              height: 156px;
              background: url(../images/black_arrow2.png) no-repeat bottom center;
              width: 32px;
            }
            &:after{
              content: "";
              position: absolute;
              top: 50%;
              left: 100%;
              margin: 0 0 0 5px;
              height: 186px;
              background: url(../images/d_right.png) no-repeat bottom center;
              width: 244px;
              @media (max-width: $screen-sm-max) {
                display: none;
              }
            }
            &>div{
              &:after{
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                margin: 0 5px 0 0;
                height: 186px;
                background: url(../images/d_left.png) no-repeat bottom center;
                width: 244px;
                @media (max-width: $screen-sm-max) {
                  display: none;
                }
              }
            }
          }
        }
      }
      strong{
        display: block;
      }
      span{
        font-weight: 400;
        font-size: 15px;
      }
    }
  }
}
.global_title
{
  position: relative;
  h1{
    color: white;
    font: 600 48px/1.2 $font-family-mont;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    @media (max-width: $screen-sm-max) {
      color: $dark-primary
    }
  }
  h2{
    font: 600 18px/1.4 $font-family-roboto;
    margin: 0;
    text-transform: uppercase;
    color: white;
    @media (max-width: $screen-sm-max) {
      color: $dark-primary
    }
    span{
      text-transform: none;
      font-weight: 400;
    }
  }
  .toptitle_abs
  {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 2;
    @media (max-width: $screen-sm-max) {
     position: static;
    }
  }
}
.tooltipmapster{
  background: white;
  margin: -30px 0 0 40px;
  font: 300 14px/1.4 $font-family-roboto;
  max-width: 200px;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  &>div:first-child{
    background: $dark-primary;
    padding: 10px;
    color: white;
    font: 600 18px/1.4 $font-family-mont;
  }
  &>div:first-child+div{
    padding: 10px;
    p{
      margin: 0 0 15px 0;
    }
  }
}

.popup_form_wrapper
{
  padding: 60px 20px 20px 20px;
  max-width: 600px;
  background: white;
  border: 2px solid $brand-primary;
  .form-group:after{
    content: "";
    display: table;
    clear: both;
  }
  label{
    float: left;
    font: 300 18px/1.2 $font-family-roboto;
    width: 30%;
    margin-right: 0;
    position: relative;
    top: 10px;
  }
  .text-input, .form-text{
    border: 1px solid #e5e5e5;
  }
  input.text-input, input.form-text
  {
    width: 69%;
    float: right;
  }
  textarea.text-input, textarea.form-textarea
  {
    resize: none;
    width: 100%;
    max-height: 200px;
    border: 1px solid #e5e5e5;
  }
  .form-action, .form-actions{
    text-align: center;
  }
  .form-submit
  {
    bordeR: 2px solid $dark-primary;
    color: $dark-primary;
    background: white;
    display: inline-block;
    width: auto;
    text-transform: none;
    height: 36px;
    font: 600 16px/36px $font-family-roboto;
    padding: 0 15px;
    border-radius: 18px;
  }
}

.topsheme
{
  background: url(../images/services_bg.jpg) no-repeat center center;

  background-attachment: fixed;
  min-height: 820px;
  padding: 29px 0 0 0 ;
  .about-diagram {
    padding: 9px 0 0px 0;
  }
  h1{
    margin: 0 0 20px 0;
    font: 600 48px/1.2 $font-family-mont;
    color: white;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: $screen-sm-max) {
      font: 600 34px/1.2 $font-family-mont;
    }
  }
  h2{
    margin: 0 0 20px 0;
    font: 600 32px/1.2 $font-family-mont;
    color: $dark-primary;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: $screen-sm-max) {
      font: 600 24px/1.2 $font-family-mont;
    }
  }

  .about-diagram-row-item.__primary, .about-diagram-row-item.__black
  {
    a:hover{
      color: inherit;
    }
    i{
      border: 3px solid white;
    }
  }

}



.services-block
{
  padding: 84px 0 20px 0;
  &-item{
    margin-bottom: 55px;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 25px;
    }
    .services-block-wrapper
    {
      padding: 20px 30px 20px 100px;
      background: #ebebeb;
      font-size: 18px;
      line-height: 1.4;
      @media (max-width: $screen-sm-max) {
        padding: 20px;
        font-size: 16px;
      }
      h3{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
        margin: 15px 0 20px 0;
      }
      &.__active{
        background: $brand-primary;
      }
    }
  }
}
.approach{
  background: url(../images/venaco_white.png) no-repeat center center;
  background-attachment: fixed;
  padding: 24px 0 100px 0;
  position: relative;
  h1{
    margin: 0 0 47px 0;
    font: 600 48px/1.2 $font-family-mont;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: $screen-sm-max) {
      font: 600 34px/1.2 $font-family-mont;
    }
  }
  p{
    margin-bottom:40px;
  }
  ul{
    display: inline-block;
    margin-bottom:40px;
    list-style-type: none;
    li{
      display: inline-block;
      padding-left: 10px;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $dark-primary;
        top: 9px;
        left: 0;
      }
    }
  }
  &-block{
    overflow: hidden;
    &-green {
      padding: 31px 0 43px 0;
      background: $brand-primary;
      position: relative;
      z-index: 2;
      div{
        z-index: 2;
        position: relative;
      }
      @media (max-width: $screen-xs-max) {
        padding: 20px;
      }
      &:before {
        content: "";
        position: absolute;
        right: 0;
        width: 100vw;
        background: $brand-primary;
        top: 0;
        bottom: 0;
      }
      @media (max-width: $screen-sm-max) {
        &:after {
          content: "";
          position: absolute;
          left: 0;
          width: 100vw;
          background: $brand-primary;
          top: 0;
          bottom: 0;
        }
      }
      h2 {
        z-index: 2;
        position: relative;
        font: 600 56px/1.2 $font-family-mont;
        margin: 12px 0 30px 0;
        padding: 0 0 40px 0;
        @media (max-width: $screen-sm-max) {
          font: 600 34px/1.2 $font-family-mont;
        }
        &:before {
          content: "";
          height: 10px;
          width: 67px;
          background: $dark-primary;
          bottom: 0;
          left: 0;
          position: absolute;
        }
        &:after {
          content: "";
          height: 10px;
          width: 80px;
          background: url(../images/black_arrow_right.png) no-repeat right center;
          display: inline-block;
          margin: 0 0 0 20px;
          position: relative;
          top: 5px;
        }
      }
      ul,p{
        z-index: 2;
        position: relative;
      }
      ul{
        font: 300 28px/1.2 $font-family-roboto;
        list-style-type: none;
        padding: 0;
        margin: 0;
        @media (max-width: $screen-xs-max) {
          font: 300 18px/1.2 $font-family-roboto;
        }
        li{
          padding: 0 0 0 20px;
          position: relative;
          margin-bottom: 36px;
          &:before{
            content: "»";
            position: absolute;
            top: 0;
            left: 0;
            color: white;
          }
        }
      }
      &.__withtoparr
      {
        padding-right: 200px;
        padding-bottom: 200px;
        position: relative;
        @media (max-width: $screen-xs-max) {
          padding: 30px 20px 30px 20px;
          margin-left: -15px;
          margin-right: -15px;
        }
        &:after{
          content: "";
          background: url(../images/about_arr_white.png) no-repeat;
          width:196px;
          height: 163px;
          position: absolute;
          top: 100px;
          right: 30px;
          @media (max-width: $screen-sm-max) {
            display: none;
          }
        }
      }
    }
    .top-margminus
    {
      margin-top: -180px;
      position: relative;
      z-index: 3;
      @media (max-width: $screen-xs-max) {
        margin-top: 0;
      }
    }
    &-image
    {
      padding: 53px 0 50px 54px;
      position: relative;
      @media (max-width: $screen-xs-max) {
        padding: 30px 20px 30px 20px;
      }
      @media (max-width: $screen-xs-max) {
        margin-left: -15px;
        margin-right: -15px;
      }
      img{
        position: relative;
        z-index: 2;
      }
      &.__blueblock
      {
        background: $blue;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 90vw;
          background: $blue;
          top: 0;
          bottom: 0;
        }
      }
    }
    &-dark{
      background: #2c3543;
      padding: 75px 66px;
      color: $brand-primary;
      font: 600 28px/1.3 $font-family-roboto;
      @media (max-width: $screen-sm-max) {
        padding: 30px 20px 30px 20px;
        font: 600 22px/1.3 $font-family-roboto;
      }
      @media (max-width: $screen-xs-max) {
        margin-left: -15px;
        margin-right: -15px;
      }
      strong{
        color: white;
      }
      ol{
        counter-reset: item;
        list-style-type: none;
        padding: 0;
        li{
          padding: 0 0 20px 0;
          position: relative;
          margin: 0 0 20px 30px;
          &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: -30px;
            width: 100px;
            height: 1px;
            background: white;

          }
          &:before {
            content: counter(item) ". ";
            counter-increment: item;
            color: white;
            position: absolute;
            left: -30px;
            top: 0;
          }
        }
      }
    }
    &-triangle{
      padding: 86px 0 65px 0;
      ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        li{
          font: 300 22px/1.3 $font-family-roboto;
          margin: 0 0 23px 0;
          strong{
            display: block;
          }
        }
      }
    }
    .triangle-h3
    {
      color: $brand-primary;
      margin: 0 0 45px 0;
      font: 600 24px/1.2 $font-family-roboto;
      padding-left: 35px;
      position: relative;
      display: inline-block;
      &:before{
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        background: url(../images/triangle.png) no-repeat;
        width: 24px;
        height: 14px;
      }
    }
    .row-blue
    {
      background: $blue;
      padding: 70px 0;
      position: relative;
      z-index: 3;
      div{
        position: relative;
        z-index: 3;
      }
      @media (max-width: $screen-sm-max) {
        padding: 20px 0;
      }
      @media (max-width: $screen-xs-max) {
        padding: 15px 0;
      }
      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 100vw;
        background: $blue;
        top: 0;
        bottom: 0;
      }
      @media (max-width: $screen-sm-max) {
        &:after {
          content: "";
          position: absolute;
          right: 0;
          width: 100vw;
          background: $blue;
          top: 0;
          bottom: 0;
        }
      }
    }
    &-blue{
      color: white;
      @media (max-width: $screen-xs-max) {
        padding: 20px;
      }
      &.__dark
      {
        color: $dark-primary;
        h2:before{
          background: url(../images/black_arrow_right.png) no-repeat right center;
        }
        h2:after{
          background: $dark-primary;
        }
      }
      h2 {
        z-index: 2;
        position: relative;
        font: 600 56px/1.2 $font-family-mont;
        margin: 12px 0 30px 0;
        padding: 0 0 40px 0;
        @media (max-width: $screen-sm-max) {
          font: 600 34px/1.2 $font-family-mont;
        }
        &:after {
          content: "";
          height: 10px;
          width: 67px;
          background: white;
          bottom: 0;
          right: 0;
          position: absolute;
        }
        &:before {
          content: "";
          height: 10px;
          width: 80px;
          background: url(../images/white_arrow.png) no-repeat right center;
          display: inline-block;
          margin: 0 0 0 20px;
          position: relative;
          top: 5px;
        }
      }
      p{
        font: 300 22px/1.4 $font-family-roboto;
        margin-bottom: 35px;
      }
    }
    &-birusa
    {
      margin-top:-180px;
      background: #d1f1f1;
      padding: 230px 30px 60px 0;
      position: relative;
      @media (max-width: $screen-sm-max) {
        margin-top:0;
        background: #d1f1f1;
        padding: 30px;
      }
      @media (max-width: $screen-xs-max) {
        margin-left: -15px;
        margin-right: -15px;
      }
      &:before {
        content: "";
        position: absolute;
        right: 0;
        width: 80vw;
        background: #d1f1f1;
        top: 0;
        bottom: 0;
      }
      img{
        position: relative;
        z-index: 2;
        @media (max-width: $screen-sm-max) {
          margin-left: 0;
        }
      }
    }
    .top-margin-30
    {
      margin-top: 30px;
      @media (max-width: $screen-xs-max) {
        margin-top: 0;
      }
    }
    .top-margminus2
    {
      margin-top: -356px;
      z-index: 2;
      position: relative;
      @media (max-width: $screen-xs-max) {
        margin-top: 0;
      }
      img{
        margin-right: -100px;
        @media (max-width: $screen-sm-max) {
          margin-right: 0;
        }
      }
    }
    ._zinex2
    {
      position: relative;
      z-index: 2;
    }
    &-quote
    {
      display: inline-block;
      background: url(../images/top_arr.png) no-repeat;
      width: 112px;
      height: 135px;
      margin: 30px 0 30px 60px;
    }
  }

}
.video-background {
  background: #000;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.video-foreground
{
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/stripe.png) repeat;
    z-index: 2;
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/venaco_bg.png) no-repeat center center;
    z-index: 2;
  }
}
.no-background
{
  .tp-bgimg
  {
    background: transparent !important;
  }
}
.parallaxed-block
{
  position: relative;
}
#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  background: url(../images/back.png) no-repeat center;
  width: 43px;
  height: 43px;
  cursor: pointer;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}
#back-to-top:hover {
  opacity: .9;
}
#back-to-top.show {
  opacity: 1;
}
.global-img
{
  & > div {
    margin: 0 auto;
  }
  img{
    margin: 0 auto;
  }
}
/*.jumptarget:before {
  content:"";
  display:block;
  height:100px;
  margin:-100px 0 0;
}*/
.jumptarget:target {
  padding-top: 100px;
  margin-top: -100px;
}
.jumptarget2:before {
  content:"";
  display:block;
  height:180px;
  margin:-180px 0 0;
}
.thankyoupage
{
  background: #edeaea;
  padding: 80px 0 80px 0;
  h1{
    font: 600 48px/1.2 $font-family-mont;
    text-transform: uppercase;
    margin: 50px 0 40px 0;
  }
  p{
    font: 600 18px/1.45 $font-family-roboto;
  }
  .thankyobtn
  {
    margin: 40px 0 0 0;
  }
}
.mailchimp-signup-subscribe-form
{
  label{
    display: none;
  }
  .form-type-textfield
  {
    width: 66.66666667%;
    float: left;
  }
  .form-actions
  {
    width: 33.33333333%;
    float: left;
  }
}
.page-node-12
{
  .main{
    overflow: hidden;
  }
  .toptitle
  {
    background: #d1f1f1 !important;
    height: auto;
    h1{
      color: #313b4b;
      position: static;
      padding: 30px 0 30px 0;
      margin: 0;
    }
    .scroll-down-link
    {
      display: none;
    }
  }
}
.section-full-width
{
  position: relative;
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  padding: 20px 0;
  &.__bluebgs
  {
    background: #d1f1f1;
  }
  &.__darkbluebgs
  {
    color: white;
    background: #316cbd;
    padding: 30px 0;
  }
  h4{
    font-weight: 600;
    font-size: 18px;
    margin: 5px 0 10px 0;
    &.__bigmarginh4
    {
      margin: 5px 0 30px 0;
    }
  }
}
.footer-privacy
{
  padding: 15px 0;
}
.blue_btn
{
  color: white;
  font-size: 18px;
  padding: 5px 20px;
  text-decoration: none;
  background: $brand-primary;
  display: inline-block;
  transition: all .5s ease-in-out;
  &:hover{
    color: white;
    background: darken( $brand-primary, 10% );
  }
}
.blog{
  &_title{
    background: $brand-primary;
    color: white;
    text-align: center;
    font: 600 28px/1.5em $font-family-roboto;
    padding: 30px 20px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
    @media (max-width: $screen-sm-max) {
      font: 600 22px/1.5em $font-family-roboto;
    }
  }

  &_list_title
  {
    background: url(../images/news_bg.jpg) no-repeat center ;
    background-size: cover;
    padding: 90px 20px;
    @media (max-width: $screen-sm-max) {
      padding: 30px 20px;
    }
      h1{
        color: white;
        font: 600 64px/1.5em $font-family-mont;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        @media (max-width: $screen-sm-max) {
          font: 600 34px/1.5em $font-family-mont;
        }
      }
  }
}
.node-type-news
{
  .field-name-field-image
  {
    img{
      max-width: 100%;
      height: auto !important;
    }
  }
  .field-name-body
  {
    padding: 0 0 40px 0;
    p{
      margin: 0 0 20px 0;
    }
  }
  .blog_dateinfo
  {
    padding: 20px 0 25px 0;
    margin: 0 0 20px 0;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 8px;
      background: $brand-primary;
    }
  }
}
.view-news
{
  .views-row
  {
    padding: 20px 5%;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    margin: 50px 0;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 150px;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 64%, rgba(255,255,255,1) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 64%,rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 64%,rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    }
    .field-name-field-image
    {
      img{
        max-width: 100%;
        height: auto !important;
      }
      margin: 0 0 20px 0;
    }
  }
  h2{
    font: 600 28px/1.5em $font-family-roboto;
    margin: 0;
    text-transform: uppercase;
    @media (max-width: $screen-sm-max) {
      font: 600 22px/1.5em $font-family-roboto;
    }
    a{
      color: $dark-primary;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .blog_dateinfo
  {
    padding: 25px 0 20px 0;
    margin: 20px 0 0 0;
    position: relative;
    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 8px;
      background: $brand-primary;
    }
  }
}
.region-content
{
  input.text-input, input.form-text
  {
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
  }
}